{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static "css/style_home.css" %}">
    <title>Memoster</title>
</head>
<body>
{% include 'Navbar.html' %}
<h1>Welcome User</h1>
<h3>This is the trial please sign up to unlock all the features</h3>
{% for Img in imgs %}
    <div class="container">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ Img.Post_Img.url }}" alt="image">
            </div>
            <div class="card-content">
              <span class="card-title activator white-text text">{{ Img.Title }}<i class="material-icons right">more_vert</i></span>
              <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Vote</a></p>
            </div>
            <div class="card-reveal darken-4 black">
              <span class="card-title white-text text">{{ Img.Title }}<i class="material-icons right">close</i></span>
              <p>Comments:</p>
            </div>
        </div>
    </div>
{% endfor %}
<script>
    var elem = document.querySelector('.sidenav');
    var instance = new M.Sidenav(elem);

    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>
</body>
</html>